body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  color: inherit;
  text-decoration: none;
}

a[disabled] {
  pointer-events: none;
}

small {
  color: gray;
}

.header {
  background: white;
  border-bottom: 1px solid gray;
}

main {
  display: grid;
  grid-template-columns: 1fr 7fr;
  width: 100%;
  height: calc(100vh - 65px);
}

section {
  background: rgb(233 230 230);
  padding: 20px;
}

nav {
  border-right: 1px solid gray;
}

nav h2 {
  margin: 10px 0px 10px 10px;
  font-size: 16px;
  color: gray;
}

.menuList {
  margin: 0px;
  padding: 0px;
  list-style-type: none;
}

.menuListItem {
  padding: 10px 20px;
  font-weight: 600;
  color: rgb(85, 85, 85);
  display: flex;
  gap: 10px;
  align-items: center;
}

.menuListItem.childElement {
  font-weight: 400;
  color: rgb(146, 145, 145);
}

.menuListItem .menuListItem_title {
  width: calc(100% - 26px);
  display: inline-flex;
  justify-content: space-between;
}

.menuListItem.active {
  background: #c4e0f1;
  color: #5656d7;
  position: relative;
}

.menuListItem.activeChild {
  color: #5656d7;
}

.menuListItem.active::after {
  content: "";
  height: 41px;
  width: 2px;
  background: #8989bd;
  position: absolute;
  right: 0;
}

.chooseItem-menu {
  display: flex;
  gap: 20px;
  padding: 0;
  list-style-type: none;
  margin-bottom: 0px;
}

.chooseItem-menu li {
  display: flex;
  flex-direction: column;
}

.chooseItem-menu li > div {
  display: flex;
  justify-content: center;
  background-color: #d3d1d1;
  border-radius: 10px;
  padding: 0px 10px;
  cursor: pointer;
}

.layoutActions {
  display: flex;
  gap: 10px;
  margin-top: 1em;
}

.layoutActions > * {
  border: none;
  border-radius: 10px;
  background: #5252fd;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
}

.loader {
  animation: rotate 1.5s linear infinite;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}
